## Úkol 10

In [1]:
import pandas

In [3]:
liberec = pandas.read_csv("zam_liberec.csv")
plzen = pandas.read_csv("zam_liberec.csv")
praha = pandas.read_csv("zam_praha.csv")

In [4]:
liberec["mesto"] = "Liberec"
plzen["mesto"] = "Plzeň"
praha["mesto"] = "Praha"
liberec.head(5)

       jmeno    prijimeni   telefonni_cislo  cislo_zamestnance    mesto
0       Nela      Šťastná       728 454 176                 83  Liberec
1    Heather      Marková       604 404 522                 84  Liberec
2     Krista  Procházková  +421 50 444 5544                 85  Liberec
3   Jennifer        Brown       775 545 190                 86  Liberec
4  Ladislava    Blackwell  +421 913 487 200                 87  Liberec

In [7]:
zamestnanci = pandas.concat([liberec, plzen, praha], ignore_index=True)
zamestnanci

          jmeno    prijimeni   telefonni_cislo  cislo_zamestnance    mesto
0          Nela      Šťastná       728 454 176                 83  Liberec
1       Heather      Marková       604 404 522                 84  Liberec
2        Krista  Procházková  +421 50 444 5544                 85  Liberec
3      Jennifer        Brown       775 545 190                 86  Liberec
4     Ladislava    Blackwell  +421 913 487 200                 87  Liberec
5        Robert       Macias  +421 49 929 6856                 88  Liberec
6          Dana        Reyes  +421 904 153 942                 90  Liberec
7         Vasyl       Veselý       603 759 413                 92  Liberec
8         Randy       Veselý       777 149 125                 95  Liberec
9        Audrey        Allen  +421 908 839 506                 96  Liberec
10         Ivan       Bartoš       603 226 051                 99  Liberec
11         Nela      Šťastná       728 454 176                 83    Plzeň
12      Heather      Marková       604 404 522                 84    Plzeň
13       Krista  Procházková  +421 50 444 5544                 85    Plzeň
14     Jennifer        Brown       775 545 190                 86    Plzeň
15    Ladislava    Blackwell  +421 913 487 200                 87    Plzeň
16       Robert       Macias  +421 49 929 6856                 88    Plzeň
17         Dana        Reyes  +421 904 153 942                 90    Plzeň
18        Vasyl       Veselý       603 759 413                 92    Plzeň
19        Randy       Veselý       777 149 125                 95    Plzeň
20       Audrey        Allen  +421 908 839 506                 96    Plzeň
21         Ivan       Bartoš       603 226 051                 99    Plzeň
22        Brian         Hall  +421 949 656 098                 30    Praha
23        Marta     Kolářová       730 456 163                 32    Praha
24         John      Moravec       725 092 179                 33    Praha
25     Dominika      Kopecká       722 747 626                 34    Praha
26       Marcel        Hájek  +421 902 928 669                 35    Praha
27       Milada    Hernandez       773 373 704                 38    Praha
28    Catherine       Bender       604 068 460                 40    Praha
29         Olga      Němcová  +421 914 172 243                 41    Praha
30      Jeffrey      Šťastný       607 628 821                 44    Praha
31       Kamila       Říhová  +421 948 396 069                 47    Praha
32      Jaromír       Miller  +421 912 615 902                 49    Praha
33  Christopher        Zeman  +421 948 150 084                 51    Praha
34     Karolína        Short       721 589 083                 53    Praha
35     Michelle      Vlčková  +421 41 720 7806                 54    Praha
36      Jeffrey     Pospíšil  +421 55 491 6940                 56    Praha
37     Ladislav       Blažek  +421 910 274 975                 57    Praha
38         John       Bailey       775 021 116                 58    Praha
39      William      Shelton  +421 47 745 8219                 60    Praha
40    Miroslava       Veselá       774 029 254                 62    Praha
41      William    Alexander  +421 949 106 724                 63    Praha
42     Kimberly         Bass  +421 912 169 840                 64    Praha
43       Nathan      Svoboda       728 710 923                 66    Praha
44        Luděk       Bartoš  +421 940 700 326                 69    Praha
45       Dillon        Black       734 300 978                 70    Praha
46       Robert         Říha       727 351 984                 72    Praha
47        Steve        Šimek       604 966 101                 74    Praha
48      Theresa     Kučerová  +421 48 528 0081                 76    Praha
49        Marta       Butler  +421 944 196 827                 78    Praha
50     Samantha    Kadlecová  +421 904 841 543                 80    Praha

In [14]:
platy = pandas.read_csv("platy_2021_02.csv", sep=",")
platy

    cislo_zamestnance     plat
0                   3  54900.0
1                   6  54800.0
2                   7  36400.0
3                   8  47900.0
4                  16  34200.0
5                  18  35400.0
6                  21  54200.0
7                  22  34400.0
8                  23  39000.0
9                  24  44200.0
10                 26  59600.0
11                 27  45100.0
12                 28  38100.0
13                 29  48900.0
14                 30  33500.0
15                 32  53000.0
16                 33  38400.0
17                 34  36800.0
18                 38  32600.0
19                 40  32800.0
20                 41  49300.0
21                 44  52000.0
22                 47  40700.0
23                 49  58400.0
24                 51  37100.0
25                 56  39300.0
26                 57  36800.0
27                 63  31400.0
28                 64  36900.0
29                 69  32600.0
30                 70  52600.0
31                 74  49300.0
32                 76  55400.0
33                 78  52600.0
34                 80  57700.0
35                 83  46500.0
36                 84  38600.0
37                 85  44200.0
38                 87  49900.0
39                 90  41100.0
40                 92  48100.0
41                 95  31600.0
42                 96  50200.0

In [16]:
propojeny_df = pandas.merge(zamestnanci, platy, on=["cislo_zamestnance"])
propojeny_df

,jmeno,prijimeni,telefonni_cislo,cislo_zamestnance,mesto,plat
0,Nela,Šťastná,728 454 176,83,Liberec,46500.0
1,Nela,Šťastná,728 454 176,83,Plzeň,46500.0
2,Heather,Marková,604 404 522,84,Liberec,38600.0
3,Heather,Marková,604 404 522,84,Plzeň,38600.0
4,Krista,Procházková,+421 50 444 5544,85,Liberec,44200.0
5,Krista,Procházková,+421 50 444 5544,85,Plzeň,44200.0
6,Ladislava,Blackwell,+421 913 487 200,87,Liberec,49900.0
7,Ladislava,Blackwell,+421 913 487 200,87,Plzeň,49900.0
8,Dana,Reyes,+421 904 153 942,90,Liberec,41100.0
9,Dana,Reyes,+421 904 153 942,90,Plzeň,41100.0
10,Vasyl,Veselý,603 759 413,92,Liberec,48100.0
11,Vasyl,Veselý,603 759 413,92,Plzeň,48100.0
12,Randy,Veselý,777 149 125,95,Liberec,31600.0
13,Randy,Veselý,777 149 125,95,Plzeň,31600.0
14,Audrey,Allen,+421 908 839 506,96,Liberec,50200.0
15,Audrey,Allen,+421 908 839 506,96,Plzeň,50200.0
16,Brian,Hall,+421 949 656 098,30,Praha,33500.0
17,Marta,Kolářová,730 456 163,32,Praha,53000.0
18,John,Moravec,725 092 179,33,Praha,38400.0
19,Dominika,Kopecká,722 747 626,34,Praha,36800.0
20,Milada,Hernandez,773 373 704,38,Praha,32600.0
21,Catherine,Bender,604 068 460,40,Praha,32800.0
22,Olga,Němcová,+421 914 172 243,41,Praha,49300.0
23,Jeffrey,Šťastný,607 628 821,44,Praha,52000.0
24,Kamila,Říhová,+421 948 396 069,47,Praha,40700.0
25,Jaromír,Miller,+421 912 615 902,49,Praha,58400.0
26,Christopher,Zeman,+421 948 150 084,51,Praha,37100.0
27,Jeffrey,Pospíšil,+421 55 491 6940,56,Praha,39300.0
28,Ladislav,Blažek,+421 910 274 975,57,Praha,36800.0
29,William,Alexander,+421 949 106 724,63,Praha,31400.0
30,Kimberly,Bass,+421 912 169 840,64,Praha,36900.0
31,Luděk,Bartoš,+421 940 700 326,69,Praha,32600.0
32,Dillon,Black,734 300 978,70,Praha,52600.0
33,Steve,Šimek,604 966 101,74,Praha,49300.0
34,Theresa,Kučerová,+421 48 528 0081,76,Praha,55400.0
35,Marta,Butler,+421 944 196 827,78,Praha,52600.0
36,Samantha,Kadlecová,+421 904 841 543,80,Praha,57700.0

In [19]:
propojeny_df.groupby("mesto")["plat"].mean()

mesto
Liberec    43775.000000
Plzeň      43775.000000
Praha      43295.238095
Name: plat, dtype: float64

### Zadání 2

In [24]:
vykazy = pandas.read_csv("vykazy.csv")
vykazy.head(5)
vykazy

          date  hours project  emloyee_id
0   2021-02-01    2.5     F30          13
1   2021-02-01    3.4     W05          70
2   2021-02-01    2.1     JL9          72
3   2021-02-01    5.2     F30           3
4   2021-02-01    2.4     TE1          54
5   2021-02-01    4.1     TE1          83
6   2021-02-01    5.4     W05          92
7   2021-02-01    2.2     YLI          34
8   2021-02-01    2.7     YLI          84
9   2021-02-01    4.4     W05          30
10  2021-02-02    5.6     F30          53
11  2021-02-02    2.6     W05          47
12  2021-02-02    2.4     YLI          44
13  2021-02-02    3.1     YLI          40
14  2021-02-02    5.3     YLI          10
15  2021-02-02    3.6     YLI          53
16  2021-02-02    5.6     F30          56
17  2021-02-03    4.0     W05          53
18  2021-02-03    4.6     TE1          86
19  2021-02-03    2.6     F30          18
20  2021-02-03    2.8     TE1          47
21  2021-02-03    2.6     YLI          34
22  2021-02-03    3.7     YLI          96
23  2021-02-03    5.2     W05          57
24  2021-02-03    5.5     W05          40
25  2021-02-03    5.4     YLI          86
26  2021-02-03    2.1     TE1          87

In [23]:
vykazy.groupby("project")["hours"].mean()

project
F30    4.300000
JL9    2.100000
TE1    3.200000
W05    4.357143
YLI    3.444444
Name: hours, dtype: float64

### Nepovinný bonus 1

In [44]:
propojeny_df = pandas.merge(zamestnanci, platy, on=["cislo_zamestnance"], how="left")
pocet_propustenych = propojeny_df[["plat"]].isnull().sum()

plat    14
dtype: int64

In [45]:
pocet_propustenych

plat    14
dtype: int64

In [33]:
propusteni = propojeny_df[propojeny_df["plat"].isnull()]
propusteni.to_csv("propusteni.csv", index=False)

        jmeno prijimeni   telefonni_cislo  cislo_zamestnance    mesto  plat
3    Jennifer     Brown       775 545 190                 86  Liberec   NaN
5      Robert    Macias  +421 49 929 6856                 88  Liberec   NaN
10       Ivan    Bartoš       603 226 051                 99  Liberec   NaN
14   Jennifer     Brown       775 545 190                 86    Plzeň   NaN
16     Robert    Macias  +421 49 929 6856                 88    Plzeň   NaN
21       Ivan    Bartoš       603 226 051                 99    Plzeň   NaN
26     Marcel     Hájek  +421 902 928 669                 35    Praha   NaN
34   Karolína     Short       721 589 083                 53    Praha   NaN
35   Michelle   Vlčková  +421 41 720 7806                 54    Praha   NaN
38       John    Bailey       775 021 116                 58    Praha   NaN
39    William   Shelton  +421 47 745 8219                 60    Praha   NaN
40  Miroslava    Veselá       774 029 254                 62    Praha   NaN
43     Nathan   Svoboda       728 710 923                 66    Praha   NaN
46     Robert      Říha       727 351 984                 72    Praha   NaN

### Nepovinný bonus 2

In [52]:
vykazy = vykazy.rename(columns={"emloyee_id": "cislo_zamestnance"})

          date  hours project  cislo_zamestnance
0   2021-02-01    2.5     F30                 13
1   2021-02-01    3.4     W05                 70
2   2021-02-01    2.1     JL9                 72
3   2021-02-01    5.2     F30                  3
4   2021-02-01    2.4     TE1                 54
5   2021-02-01    4.1     TE1                 83
6   2021-02-01    5.4     W05                 92
7   2021-02-01    2.2     YLI                 34
8   2021-02-01    2.7     YLI                 84
9   2021-02-01    4.4     W05                 30
10  2021-02-02    5.6     F30                 53
11  2021-02-02    2.6     W05                 47
12  2021-02-02    2.4     YLI                 44
13  2021-02-02    3.1     YLI                 40
14  2021-02-02    5.3     YLI                 10
15  2021-02-02    3.6     YLI                 53
16  2021-02-02    5.6     F30                 56
17  2021-02-03    4.0     W05                 53
18  2021-02-03    4.6     TE1                 86
19  2021-02-03    2.6     F30                 18
20  2021-02-03    2.8     TE1                 47
21  2021-02-03    2.6     YLI                 34
22  2021-02-03    3.7     YLI                 96
23  2021-02-03    5.2     W05                 57
24  2021-02-03    5.5     W05                 40
25  2021-02-03    5.4     YLI                 86
26  2021-02-03    2.1     TE1                 87

In [54]:
zamestnanci_vykazy = pandas.merge(vykazy, zamestnanci, on=["cislo_zamestnance"])
zamestnanci_vykazy

,date,hours,project,cislo_zamestnance,jmeno,prijimeni,telefonni_cislo,mesto
0,2021-02-01,3.4,W05,70,Dillon,Black,734 300 978,Praha
1,2021-02-01,2.1,JL9,72,Robert,Říha,727 351 984,Praha
2,2021-02-01,2.4,TE1,54,Michelle,Vlčková,+421 41 720 7806,Praha
3,2021-02-01,4.1,TE1,83,Nela,Šťastná,728 454 176,Liberec
4,2021-02-01,4.1,TE1,83,Nela,Šťastná,728 454 176,Plzeň
5,2021-02-01,5.4,W05,92,Vasyl,Veselý,603 759 413,Liberec
6,2021-02-01,5.4,W05,92,Vasyl,Veselý,603 759 413,Plzeň
7,2021-02-01,2.2,YLI,34,Dominika,Kopecká,722 747 626,Praha
8,2021-02-03,2.6,YLI,34,Dominika,Kopecká,722 747 626,Praha
9,2021-02-01,2.7,YLI,84,Heather,Marková,604 404 522,Liberec
10,2021-02-01,2.7,YLI,84,Heather,Marková,604 404 522,Plzeň
11,2021-02-01,4.4,W05,30,Brian,Hall,+421 949 656 098,Praha
12,2021-02-02,5.6,F30,53,Karolína,Short,721 589 083,Praha
13,2021-02-02,3.6,YLI,53,Karolína,Short,721 589 083,Praha
14,2021-02-03,4.0,W05,53,Karolína,Short,721 589 083,Praha
15,2021-02-02,2.6,W05,47,Kamila,Říhová,+421 948 396 069,Praha
16,2021-02-03,2.8,TE1,47,Kamila,Říhová,+421 948 396 069,Praha
17,2021-02-02,2.4,YLI,44,Jeffrey,Šťastný,607 628 821,Praha
18,2021-02-02,3.1,YLI,40,Catherine,Bender,604 068 460,Praha
19,2021-02-03,5.5,W05,40,Catherine,Bender,604 068 460,Praha
20,2021-02-02,5.6,F30,56,Jeffrey,Pospíšil,+421 55 491 6940,Praha
21,2021-02-03,4.6,TE1,86,Jennifer,Brown,775 545 190,Liberec
22,2021-02-03,4.6,TE1,86,Jennifer,Brown,775 545 190,Plzeň
23,2021-02-03,5.4,YLI,86,Jennifer,Brown,775 545 190,Liberec
24,2021-02-03,5.4,YLI,86,Jennifer,Brown,775 545 190,Plzeň
25,2021-02-03,3.7,YLI,96,Audrey,Allen,+421 908 839 506,Liberec
26,2021-02-03,3.7,YLI,96,Audrey,Allen,+421 908 839 506,Plzeň
27,2021-02-03,5.2,W05,57,Ladislav,Blažek,+421 910 274 975,Praha
28,2021-02-03,2.1,TE1,87,Ladislava,Blackwell,+421 913 487 200,Liberec
29,2021-02-03,2.1,TE1,87,Ladislava,Blackwell,+421 913 487 200,Plzeň

In [58]:
zamestnanci_vykazy.groupby("mesto")["hours"].sum()

mesto
Liberec    28.0
Plzeň      28.0
Praha      57.5
Name: hours, dtype: float64